* {
    margin: 0;
    padding: 0;
    background-color: #d6c8ff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;   
}




::-webkit-scrollbar{
    width: 5px;
}


::-webkit-scrollbar-thumb {
    background-color: #b567ac;
}



