@media (max-width: 768px) {

   

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}